*{
    padding: 0;
    margin: 0;
}
body{
    background: #68CDD5;
    font-size: .875rem;
}
.contain{
    
}
.img1{
    position: absolute;
    margin: 2% 0 0 2%;
    background: #68CDD5;
    width: 54px;
    height: 54px;
}